/*
   Place for user defined CSS rules (screen media) - this file can safely be
   preserved when updating. See README for details.

   Note: All example files are delivered with the ".dist" extensions to make
         sure your changes do not get overwritten when updating the template.
         Just remove the ".dist" extension to use them.
*/

