<?php

/**
 * Place for user defined web analytics software codes/tags
 *
 * Tools like Piwik and Google Analytics normally provide a small HTML code
 * snippet ("tag") which you have to include at your website to make everything
 * work. This template tries to make this easier for you.
 *
 * You don't have to deliberate where you have to copy and paste the code
 * simply create a "/user/tracker.php" file. The template recognizes and loads
 * the provided tracker data automatically. You may want to rename this file
 * from "tracker.php.dist" to "tracker.php" to get a good starting point. Just
 * copy and paste the needed HTML code/tag AFTER the closing "?>"
 *
 * Note: All example files are delivered with the ".dist" extensions to make
 *       sure your changes do not get overwritten when updating the template.
 *       Just remove the ".dist" extension to use them.
 *
 *
 * LICENSE: This file is open source software (OSS) and may be copied under
 *          certain conditions. See COPYING file for details or try to contact
 *          the author(s) of this file in doubt.
 *
 * @license GPLv2 (http://www.gnu.org/licenses/gpl2.html)
 * @author ARSAVA <dokuwiki@dev.arsava.com>
 * @link http://piwik.org/
 * @link http://www.google.com/analytics/
 * @link https://www.dokuwiki.org/template:vector
 */


//check if we are running within the DokuWiki environment
if (!defined("DOKU_INC")){
    die();
}

//place the needed HTML source codes BELOW this line ?>
